    body {
      background-color: #282828;
      font-family: 'Inter', sans-serif;
      color: #ffffff;
    }
    header {
      background: #121212;
      box-shadow: 0 2px 4px rgba(173,9,9,0.834);
    }
    .logo {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 50%;
    }

    .gradiant{
      height: 50px;
    }
    
    .search-bar input {
      border-radius: 30px;
    }
    /* Estilo para la lista de usuarios con scroll */
    .user-list {
      max-height: 70vh; /* Ajusta según tu preferencia */
      overflow-y: auto;
    }
    .user-item img {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 50%;
    }
    /* Línea vertical divisoria */
    .vertical-divider {
      width: 1px;
      background-color: #ddd;
      margin: auto;
      height: 50%; /* Solo ocupa la mitad de la columna */
    }

